# Dagster
DAGSTER_PG_PASSWORD=your_dagster_password

# TimescaleDB
PG_PASSWORD=your_postgres_password

# Neo4j
NEO4J_PASSWORD=your_neo4j_password

# MinIO
MINIO_USER=admin
MINIO_PASS=your_minio_password
